<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
  <main class="container">
  
    <h1 class ="display-4" style="text-align: center;">Welcome to the <%=title %> Page</h1>
  
  
  <div class="container" >
  
    <div class="card"  style="background-color: cadetblue; text-align: center; width: 200px; margin-left: 41%;">
      <p style="color: white;">Name: Rutvik Patel</p>
    </div>
    <div class="card" style="background-color: cadetblue; text-align: center; width: 255px; margin-left:38.8% ;">
      <p style="color: white;">Mobile Number: (+1)647 897 4361</p>
    </div>
    <div class="card"  style="background-color:cadetblue ; text-align: center;width: 300px; margin-left: 37.2%;">
      <p style="color: white;">Email: Rutvikp11200@gmail.com</p>
    </div>
  
  </div>
  <h2 class ="display-6" style="color: darkcyan;"><p>You can contact me by filling up this form, <br> and I will get to you as soon as I can. </p></h1>
  
  <form NAME="myform">
    <label for="fname">Full Name:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>

    <label for="lname">Mobile Number:</label><br>

    <input type="text" id="mnum" name="number" value="" ><br>
    <label for="lname">Email Address:</label><br>
    <input type="text" id="email" name="email" value=""><br>
    <label for="lname">Message</label><br>
    <textarea id="message" rows="5" cols="30" value=""></textarea>
    <button class="rounded" style="background-color: darkcyan; color: white; margin-left: 20px;" id="button1" type="button">Send</button>
    
  </form>
<br>
</main>

  
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
