<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
  <main class="container">
    <!--<div class="jumbotron"><h1 class="display-4">welcome to the <%=title%> Page</h1></div>-->
    <h1 class ="display-4" style="text-align: center;">Services provided by me:</h1>
    

  </main>

  <div class="jumbotron">
    <br>
    <h1 class ="display-4" style="text-align: center; color: darkcyan;"></h1>
    
    <div class="row">
     <div class="column left">
       <h2 style="text-align: start; color: darkcyan; font-size: 170%;">Mobile Application Development</h2>
       <img class="rounded" src="./Assets/images/mobile.png" style = "height: 250px; margin-left: 20px;">

     </div>
     
 
   </div>
   <div class="row">
     <div class="column left1">


     </div>
     
     <div class="column right1">
       <h2 style="color: darkcyan; font-size: 170%;">Web Application Development</h2>
       <img class="rounded" src="./Assets/images/web application development.png" style = "height: 250px;">

     </div>
   </div>

   <div class="row">
     <div class="column right1">
       <h2 style="text-align: end; color: darkcyan; font-size: 170%;">Programming</h2>
       <img class="rounded" src="./Assets/images/programming.png" style = "height: 250px; margin-left: 1750px; ">


     </div>
     
     <div class="column right">

     </div>
   </div>

   <div class="row">
     <div class="column left1">
     </div>
     
     
   </div>
   <p class="lead">
    <a class="btn btn-lg" href="/contact" style="background-color: #472D30; color: white; margin-left: 48.5%;" role="button">Contact me ></a>
  </p>
  </div>
  


<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
